.formContainer{
    background-color: #806ecf;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: aliceblue;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        .logo{
            color: #806ecf;
            font-weight: bold;
            font-size: 24px;
        }
        .title{
            color: #806ecf;
            font-size: 12px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
            input{
                padding: 15px;
                border: none;
                width: 250px;
                border-radius: 1px solid #806ecf;
                &::placeholder{
                    color: rgb(175,175,175);
                }
            }
            button{
                background-color: #806ecf;
                color: aliceblue;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #806ecf;
                font-size: smaller;
                cursor: pointer;
                img{
                    width: 32px;
                }
            }
        }
        p{
            color: #806ecf;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}
.home{
    background-color:#806ecf;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 95%;
        height: 95%;
        display: flex;
        overflow: hidden;
        .sidebar{flex: 1;
            background-color: #251a55;
            .navbar{
                display: flex;
                align-items: center;
                height: 50px;
                background-color: #090618;
                padding: 10px;
                justify-content: space-between;
                color: aliceblue;

            }
        }
        .chat{flex: 2;}
    }
}